.sidebar-container-left-right {
  display: flex;
  flex: 1;
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 60px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  flex-shrink: 0;
}

.left-sidebar {
  left: 0;
}

.sidebar-icons {
  height: 60px;
  margin: 5px 0;
  cursor: pointer;
}

.sidebar-icons img {
  height: 50px;
  width: auto;
}

.left-sidebar .sidebar-icons:nth-child(1) {
  margin-top: 150px;
}
.left-sidebar .sidebar-icons:nth-child(2),
.left-sidebar .sidebar-icons:nth-child(3) {
  margin-top: 15px;
}

.left-sidebar .sidebar-icons:nth-child(4) {
  margin-top: 250px;
}
.left-sidebar .sidebar-icons:nth-child(5),
.left-sidebar .sidebar-icons:nth-child(6),
.left-sidebar .sidebar-icons:nth-child(7) {
  margin-top: 15px;
}

.sidebar-right .sidebar-icons:nth-child(1) {
  margin-top: 150px;
}
.sidebar-right .sidebar-icons:nth-child(2),
.sidebar-right .sidebar-icons:nth-child(3) {
  margin-top: 15px;
}

.sidebar-right .sidebar-icons:nth-child(4) {
  margin-top: 250px;
}
.sidebar-right .sidebar-icons:nth-child(5),
.sidebar-right .sidebar-icons:nth-child(6) {
  margin-top: 15px;
}

.sidebar-icons img {
  position: relative;
  z-index: 10;
}

@media (max-width: 750px) {
  .sidebar-left {
    display: none;
  }
}

.sidebar-right {
  right: 0;
}

@media (max-width: 750px) {
  .sidebar-right {
    display: none;
  }
}
